#!/usr/bin/env bash

set -e

# Configuration
DISCORD_WEBHOOK_URL=%DISCORD_WEBHOOK_URL%
APP_NAME=%APP_NAME%
CHANGES=$(cat changes)
CURRENT_VERSION=<current-version>
NEW_VERSION=<new-version>

# Optional parameter to handle errors
if [[ "$1" == "ERROR" ]]; then
    curl -X POST \
      -H "Content-Type: application/json" \
      -d "{\"username\": \"Jenkins-Release\", \"content\": \":x: [**$APP_NAME**][`hostname`] **ERROR** during release (**$CURRENT_VERSION** to **$NEW_VERSION**)\"}" \
      ${DISCORD_WEBHOOK_URL}
    exit 1
fi

# Regular release notification
curl -X POST \
  -H "Content-Type: application/json" \
  -d "{\"username\": \"Jenkins-Release\", \"content\": \":white_check_mark: [**$APP_NAME**][`hostname`] Released (**$CURRENT_VERSION** -> **$NEW_VERSION**)\n${CHANGES}\"}" \
  ${DISCORD_WEBHOOK_URL}
